<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Login</title>

  <link th:href="@{/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link th:href="@{/admin/css/sb-admin.css}" rel="stylesheet">
  <link th:href="@{/bootstrap5/css/bootstrap.min.css}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form th:action="@{/xylydangnhap}" method="post">

        <!-- thong bao nhap sai -->
          <div th:if="${param.error}">
            <i class="alert-danger text-danger">Tên đăng nhập hoặc mật khẩu không chính xác!</i>
          </div>

          <div th:if="${param.logout}">
            <i class="alert-success alert">Bạn đã đăng xuất!</i>
          </div>
          <br>

          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="username" name="username" class="form-control" placeholder="UserName" required="required" autofocus="autofocus">
              <label for="username">User Name</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
              <label for="inputPassword">Password</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
                Remember Password
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" >Login</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" th:href="@{/account/taotk}">Register an Account</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>



  <script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>
</body>

</html>
